body {
    margin-top: 80px !important;
}

.navbar-brand {
    font-size: 1.5em !important;
}

@media (min-width: 576px){
    .navbar-brand {
    font-size: 2em !important;
    }
}

@media (min-width: 768px) { 
   .navbar-brand {
    font-size: 2em !important;
    }
}

@media (min-width: 992px) { 
    .navbar-brand {
    font-size: 2em !important;
    }
}


@media (min-width: 1200px) {
    .navbar-brand {
    font-size: 2em !important;
    }
}



.navbar-brand {
   color: black !important;
   font-family: 'Raleway', sans-serif;
font-weight: 900;
font-style: normal;
    
    
}





.img






@media (min-width: 576px){
    .lead {
    font-size: 1.5em  !important;
    }
}

@media (min-width: 768px) { 
   .lead {
    font-size: 1.5em !important;
    }
}

@media (min-width: 992px) { 
    .lead {
      font-size: 1.5em !important;
    }
}


@media (min-width: 1200px) {
   .lead {
    font-size: 1.5em !important;
    }
}









.contactFormSection {
    background-color: #FFffff  !important;
    color: black;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    font-style: normal;
    
}


 







.instaimg img {margin-bottom:30px;}
.instaimg img:hover {
	opacity:0.8;
	-moz-opacity:0.8;
	-webkit-opacity:0.8;
    display: inline-block;
}



.climbingImage {
    max-width: 100%;
    height: auto;
    background-size: cover;
}


h1.leftHeading {
    font-family: 'Raleway', sans-serif;
font-weight: 700;
font-style: normal;
    font-size: 3em;
    text-align: center;
    
   
   
}

h1.leftHeadingBio {
    font-family: 'Raleway', sans-serif;
font-weight: 700;
font-style: normal;
    font-size: 1.8em;
    text-align: left;
    
   
   
}

h1.centerHeading {
   font-family: 'Raleway', sans-serif;
font-weight: 900;
font-style: normal;
    font-size: 2.9em;
    text-align: center;
    
   
}


p.leftText {
   font-family: 'Raleway', sans-serif;
font-weight: 300;
font-style: normal;
    font-size: .8em;
}

p.centerText {
    font-family: 'Raleway', sans-serif;
font-weight: 300;
font-style: normal;
    text-align: center;
    font-size: 1em;
}

.centerText {
     font-family: 'Raleway', sans-serif;
font-weight: 300;
font-style: normal;
    text-align: center;
    font-size: 1em
}


backgroundImage {
    background-image: 
}




.navbar { 
    font-family: 'Raleway', sans-serif;


}

ul.navbar-nav {
    
}

li.nav-item {

}






.buttonSpecial {
    font-family: 'Raleway', sans-serif;
font-weight: 500 !important;
}

.fa-instagram {
    text-align: center;
    font-size: 2em;
    color: black;
}

a {
text-decoration: none !important;
}
a:active {
text-decoration: none !important;
}

a:hover {
text-decoration: none !important;
}


#cert1 {
    width: 100%;
    height: auto;
}

.imageAbout {
    max-width: 100%;
    height: auto;
}



.myOwnColor {
  color: black  !important; // 
}


.masthead {
  height: 50vh;
  min-height: auto;
  background-image: url('/images/about3.JPG');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media (min-width: 576px){
   .masthead {
  height: 50vh;
    }
}

@media (min-width: 768px) { 
   .masthead {
  height: 50vh;
    }
}

@media (min-width: 992px) { 
 .masthead {
  height: 50vh;
    }
}


@media (min-width: 1200px) {
  .masthead {
  height: 50vh;
    }
    
}


.custom {
    width: 6em;
}

.sponsor {
    width: 100%;
    height: auto;
}




		body, html {
  height: 100%;
}




.parallaxContact {
  /* The image used */
  background-image: url('images/comp.JPG');

  /* Full height */
  height: 100%; 

  /* Create the parallax scrolling effect */
  background-attachment: scroll;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-width: 576px){
   .parallaxContact {
  background-attachment: scroll;
    }
}

@media (min-width: 768px) { 
   .parallaxContact {
  background-attachment: scroll;
    }
}

@media (min-width: 992px) { 
 .parallaxContact {
  background-attachment: fixed;
    }
}


@media (min-width: 1200px) {
.parallaxContact {
  background-attachment: fixed;
    }
    
}


h1.centerHeadingWhite {
   font-family: 'Raleway', sans-serif;
font-weight: 900;
font-style: normal;
    font-size: 4em;
    position: static;
color: white;
    text-align: center;
}



.parallaxSponsors {
  /* The image used */
  background-image: url('images/alex2.JPG');

  /* Full height */
  height: 100%; 

  /* Create the parallax scrolling effect */
  background-attachment: scroll;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-width: 576px){
   .parallaxSponsors {
  background-attachment: scroll;
    }
}

@media (min-width: 768px) { 
   .parallaxSponsors {
  background-attachment: scroll;
    }
}

@media (min-width: 992px) { 
 .parallaxSponsors {
  background-attachment: fixed;
    }
}


@media (min-width: 1200px) {
.parallaxSponsors {
  background-attachment: fixed;
    }
    
}




.parallaxBio {
  /* The image used */
  background-image: url('images/bio.jpeg');

  /* Full height */
  height: 100%; 

  /* Create the parallax scrolling effect */
  background-attachment: scroll;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (min-width: 576px){
   .parallaxBio {
  background-attachment: scroll;
    }
}

@media (min-width: 768px) { 
   .parallaxBio {
  background-attachment: scroll;
    }
}

@media (min-width: 992px) { 
 .parallaxBio {
  background-attachment: fixed;
    }
}


@media (min-width: 1200px) {
.parallaxBio {
  background-attachment: fixed;
    }
    
}




.parallaxHome {
  /* The image used */
  background-image: url('images/contactform.JPG');

  /* Full height */
  height: 100%;
   

  /* Create the parallax scrolling effect */
  background-attachment: scroll;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-width: 576px){
   .parallaxHome {
  background-attachment: scroll;
    }
}

@media (min-width: 768px) { 
   .parallaxHome {
  background-attachment: scroll;
    }
}

@media (min-width: 992px) { 
 .parallaxHome {
  background-attachment: fixed;
    }
}


@media (min-width: 1200px) {
.parallaxHome {
  background-attachment: fixed;
    }
    
}






.parallaxHomeTwo {
  /* The image used */
  background-image: url('images/homepage.JPG');

  /* Full height */
  height: 100%; 

  /* Create the parallax scrolling effect */
  background-attachment: scroll;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


@media (min-width: 576px){
   .parallaxHomeTwo {
  background-attachment: scroll;
    }
}

@media (min-width: 768px) { 
   .parallaxHomeTwo {
  background-attachment: scroll;
    }
}

@media (min-width: 992px) { 
 .parallaxHomeTwo {
  background-attachment: fixed;
    }
}


@media (min-width: 1200px) {
 .parallaxHomeTwo {
  background-attachment: fixed;
    }
    
}
